* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




body {
    height: 80vh;
    width: 100%;
    background-image: url("image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 6rem;
    backdrop-filter: blur(2px);


}


.image-container {
    max-width: 100%;
    height: auto;
}


.container {
    align-items: center;
    padding: 8rem;
    width: 90%;

}





h1 {
    font-size: 5rem;
    color: rgba(154, 58, 13, 0.858);
    text-shadow: 3px 5px 8px rgb(96, 68, 68);
    padding-bottom: 0.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    font-size: 2rem;
    color: rgba(154, 58, 13, 0.858);
    text-shadow: 3px 5px 8px rgb(105, 94, 94);
    padding-bottom: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


#todoInput {
    height: 2.8rem;
    width: 30rem;
    background: rgba(221, 93, 31, 0.31);
    border-radius: 20px;
    backdrop-filter: blur(8px);
    color: rgb(138, 6, 6);
    font-weight: 600;
    font-size: 1.2rem;
    border: 2px solid #d5d2b3;
    font-family: 'Times New Roman', Times, serif;

}

button {
    transition: 0.3s ease;
    cursor: pointer;
    border: none;
    background: transparent;
    color: rgb(138, 6, 6);
    font-size: 1.2rem;
}


#add {
    border: none;
    height: 4rem;
    width: 4rem;
    position: relative;
    top: 0.4rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2.8rem;
    transition: 0.3s ease;
}

#todoList {
    height: 45vh;
    width: 30rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 20px;
    line-height: 1.6rem;
    font-size: 1.2rem;
    color: rgb(138, 6, 6);
    max-height: 30vh;
    overflow-y: auto;
    background-color: rgba(222, 184, 135, 0);
}

#todoList li {
    cursor: pointer;
    border: none;
    background: transparent;
    color: rgb(138, 6, 6);
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {

    body {
        padding: 6rem;
        background-attachment: scroll;
    }

    .image-container {
    height: auto;
}
    .container {
        font-size: 20px;
        padding: 30px;
        width: 80%;
    }

    h1 {
        font-size: 4rem;
    }

    h3 {
        font-size: 1.6rem;
        padding-bottom: 3rem;
    }

    #todoInput {
        height: 2.5rem;
        width: 20rem;
        font-size: 1rem;
    }


    #add {
        font-size: 2.4rem;
    }

    #todoList {
        width: 18rem;
        font-size: 1rem;
        max-height: 20vh;

    }

    #todoList li {
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
    }
}


@media (max-width: 768px) {

    body {
        padding: 4rem;
        background-attachment: scroll;
    }

       .image-container {
    height: auto;
}

    .container {
        font-size: 15px;
        padding: 18px;
        width: 70%;
    }

    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.2rem;
        padding-bottom: 2rem;
    }

    #todoInput {
        height: 2.2rem;
        width: 15rem;
        font-size: 0.8rem;
    }

    #add {
        font-size: 2.2rem;
    }

    #todoList {
        width: 15rem;
        font-size: 0.8rem;
        max-height: 18vh;
    }


    #todoList li {
        font-size: 0.9rem;
    }

    button {
        font-size: 0.9rem;
    }
}



@media (max-width: 476px) {

    body {
        padding: 2rem;
        background-attachment: scroll;
    }

       .image-container {
    height: auto;
}

    .container {
        font-size: 13px;
        padding: 15px;
        width: 60%;
    }

    h1 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 0.9rem;
        padding-bottom: 1.5rem;
    }

    #todoInput {
        height: 2rem;
        width: 12rem;
        font-size: 0.6rem;
    }

    #add {
        font-size: 1.8rem;
    }

    #todoList {
        width: 12rem;
        font-size: 0.6rem;
        max-height: 18vh;

    }


    #todoList li {
        font-size: 0.8rem;
    }

    button {
        font-size: 0.8rem;
    }
}